
@media only screen and (min-width: 570px) and (min-width: 1024px) {
    .skewed2 {
      margin-top: 1%;
      -ms-margin-top: 1%;
      -moz-margin-top: 1%;
      -webkit-margin-top: 1%;
      width: 100%;
      -ms-width: 100%;
      -moz-width: 100%;
      -webkit-width: 100%;
    }
    .main-div {
      height: 90vh;
      -ms-height: 90vh;
      -moz-height: 90vh;
      -webkit-height: 90vh;
      width: 100vw;
      -ms-width: 100vw;
      -moz-width: 100vw;
      -webkit-width: 100vw;
      margin-top: -15%;
      -ms-margin-top: -15%;
      -moz-margin-top: -15%;
      -webkit-margin-top: -15%;
    }
    .skewed2-progress {
      padding: 0px 4% !important;
      -ms-padding: 0px 4% !important;
      -moz-padding: 0px 4% !important;
      -webkit-padding: 0px 4% !important;
      margin: 2% 20%;
      -ms-margin: 2% 20%;
      -moz-margin: 2% 20%;
      -webkit-margin: 2% 20%;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .skewed2 {
      margin-top: -3%;
      -ms-margin-top: -3%;
      -moz-margin-top: -3%;
      -webkit-margin-top: -3%;
      width: 100%;
      -ms-width: 100%;
      -moz-width: 100%;
      -webkit-width: 100%;
    }
    .main-div {
      height: 80vh;
      -ms-height: 80vh;
      -moz-height: 80vh;
      -webkit-height: 80vh;
      width: 100vw;
      -ms-width: 100vw;
      -moz-width: 100vw;
      -webkit-width: 100vw;
      margin-top: -45%;
      -ms-margin-top: -45%;
      -moz-margin-top: -45%;
      -webkit-margin-top: -45%;
    }
    .skewed2-progress {
      padding: 0px 4% !important;
      -ms-padding: 0px 4% !important;
      -moz-padding: 0px 4% !important;
      -webkit-padding: 0px 4% !important;
      margin: 2% 50px;
      -ms-margin: 2% 50px;
      -moz-margin: 2% 50px;
      -webkit-margin: 2% 50px;
    }
  }
  
  
  @media only screen and (min-width: 320px) , (min-height:568){
    .skewed2 {
      width: 100%;
      -ms-width: 100%;
      -moz-width: 100%;
      -webkit-width: 100%;
      font-size: 16px !important;
      -ms-font-size: 16px !important;
      -moz-font-size: 16px !important;
      -webkit-font-size: 16px !important;
      height: 10px !important;
      -ms-height: 10px !important;
      -moz-height: 10px !important;
      -webkit-height: 10px !important;
    }
    .main-div {
      height: 120vh;
      -ms-height: 120vh;
      -moz-height: 120vh;
      -webkit-height: 120vh;
      width: 100vw;
      -ms-width: 100vw;
      -moz-width: 100vw;
      -webkit-width: 100vw;
      margin-top: -35%;
      -ms-margin-top: -35%;
      -moz-margin-top: -35%;
      -webkit-margin-top: -35%;
    }
    .skewed2-progress {
      padding: 0px!important;
      -ms-padding: 0px !important;
      -moz-padding: 0px !important;
      -webkit-padding: 0px !important;
      margin: 2% 5px;
      -ms-margin: 2% 5px;
      -moz-margin: 2% 5px;
      -webkit-margin: 2% 5px;
    }
  }
  
  @media only screen and (min-width: 360px) , (max-height:630){
    .skewed2 {
      width: 100%;
      -ms-width: 100%;
      -moz-width: 100%;
      -webkit-width: 100%;
      font-size: 16px !important;
      -ms-font-size: 16px !important;
      -moz-font-size: 16px !important;
      -webkit-font-size: 16px !important;
      height: 10px !important;
      -ms-height: 10px !important;
      -moz-height: 10px !important;
      -webkit-height: 10px !important;
    }
    .main-div {
      height: 100vh;
      -ms-height: 100vh;
      -moz-height: 100vh;
      -webkit-height: 100vh;
      width: 100vw;
      -ms-width: 100vw;
      -moz-width: 100vw;
      -webkit-width: 100vw;
      margin-top: -35%;
      -ms-margin-top: -35%;
      -moz-margin-top: -35%;
      -webkit-margin-top: -35%;
    }
    .skewed2-progress {
      padding: 0px!important;
      -ms-padding: 0px !important;
      -moz-padding: 0px !important;
      -webkit-padding: 0px !important;
      margin: 2% 5px;
      -ms-margin: 2% 5px;
      -moz-margin: 2% 5px;
      -webkit-margin: 2% 5px;
    }
  }
  
  @media only screen and (min-width: 375px) , (min-height:667){
    .skewed2 {
      width: 100%;
      -ms-width: 100%;
      -moz-width: 100%;
      -webkit-width: 100%;
      font-size: 16px !important;
      -ms-font-size: 16px !important;
      -moz-font-size: 16px !important;
      -webkit-font-size: 16px !important;
      height: 10px !important;
      -ms-height: 10px !important;
      -moz-height: 10px !important;
      -webkit-height: 10px !important;
    }
    .main-div {
      height: 90vh;
      -ms-height: 90vh;
      -moz-height: 90vh;
      -webkit-height: 90vh;
      width: 100vw;
      -ms-width: 100vw;
      -moz-width: 100vw;
      -webkit-width: 100vw;
      margin-top: -35%;
      -ms-margin-top: -35%;
      -moz-margin-top: -35%;
      -webkit-margin-top: -35%;
    }
    .skewed2-progress {
      padding: 0px!important;
      -ms-padding: 0px !important;
      -moz-padding: 0px !important;
      -webkit-padding: 0px !important;
      margin: 1% 30px;
      -ms-margin: 2% 5px;
      -moz-margin: 2% 5px;
      -webkit-margin: 2% 5px;
    }
  }
  
  @media only screen and (min-width: 375px) and (min-height:812){
    .skewed2 {
      width: 100%;
      -ms-width: 100%;
      -moz-width: 100%;
      -webkit-width: 100%;
      font-size: 16px !important;
      -ms-font-size: 16px !important;
      -moz-font-size: 16px !important;
      -webkit-font-size: 16px !important;
      height: 10px !important;
      -ms-height: 10px !important;
      -moz-height: 10px !important;
      -webkit-height: 10px !important;
    }
    .main-div {
      height: 70vh;
      -ms-height: 70vh;
      -moz-height: 70vh;
      -webkit-height: 70vh;
      width: 100vw;
      -ms-width: 100vw;
      -moz-width: 100vw;
      -webkit-width: 100vw;
      margin-top: -35%;
      -ms-margin-top: -35%;
      -moz-margin-top: -35%;
      -webkit-margin-top: -35%;
    }
    .skewed2-progress {
      padding: 0px!important;
      -ms-padding: 0px !important;
      -moz-padding: 0px !important;
      -webkit-padding: 0px !important;
      margin: 2% 5px;
      -ms-margin: 2% 5px;
      -moz-margin: 2% 5px;
      -webkit-margin: 2% 5px;
    }
  }
  @media only screen and (min-width: 411px) , (min-height:731) {
    .skewed2 {
      width: 100%;
      -ms-width: 100%;
      -moz-width: 100%;
      -webkit-width: 100%;
      font-size: 16px !important;
      -ms-font-size: 16px !important;
      -moz-font-size: 16px !important;
      -webkit-font-size: 16px !important;
      height: 10px !important;
      -ms-height: 10px !important;
      -moz-height: 10px !important;
      -webkit-height: 10px !important;
    }
    .main-div {
      height: 70vh;
      -ms-height: 100vh;
      -moz-height: 100vh;
      -webkit-height: 100vh;
      width: 100vw;
      -ms-width: 100vw;
      -moz-width: 100vw;
      -webkit-width: 100vw;
      margin-top: -35%;
      -ms-margin-top: -35%;
      -moz-margin-top: -35%;
      -webkit-margin-top: -35%;
    }
    .skewed2-progress {
      padding: 0px!important;
      -ms-padding: 0px !important;
      -moz-padding: 0px !important;
      -webkit-padding: 0px !important;
      margin: 2% 5px;
      -ms-margin: 2% 5px;
      -moz-margin: 2% 5px;
      -webkit-margin: 2% 5px;
    }
  }
  @media only screen and (min-width: 768px) and (min-height: 1024px) {
    .skewed2 {
      margin-top: 4%;
      -ms-margin-top: 4%;
      -moz-margin-top: 4%;
      -webkit-margin-top: 4%;
      width: 100%;
      -ms-width: 100%;
      -moz-width: 100%;
      -webkit-width: 100%;
    }
    .main-div {
      height: 45vh;
      -ms-height: 45vh;
      -moz-height: 45vh;
      -webkit-height: 45vh;
      width: 100vw;
      -ms-width: 100vw;
      -moz-width: 100vw;
      -webkit-width: 100vw;
      margin-top: -45%;
      -ms-margin-top: -45%;
      -moz-margin-top: -45%;
      -webkit-margin-top: -45%;
    }
    .skewed2-progress {
      padding: 0px 4% !important;
      -ms-padding: 0px 4% !important;
      -moz-padding: 0px 4% !important;
      -webkit-padding: 0px 4% !important;
      margin: 2% 170px;
      -ms-margin: 2% 170px;
      -moz-margin: 2% 170px;
      -webkit-margin: 2% 170px;
    }
  }
  @media only screen and (min-width: 1024px) and (min-height: 768px) {
    .skewed2 {
      margin-top: 4%;
      -ms-margin-top: 4%;
      -moz-margin-top: 4%;
      -webkit-margin-top: 4%;
      width: 100%;
      -ms-width: 100%;
      -moz-width: 100%;
      -webkit-width: 100%;
    }
    .main-div {
      height: 70vh;
      -ms-height: 70vh;
      -moz-height: 70vh;
      -webkit-height: 70vh;
      width: 100vw;
      -ms-width: 100vw;
      -moz-width: 100vw;
      -webkit-width: 100vw;
      margin-top: -25%;
      -ms-margin-top: -25%;
      -moz-margin-top: -25%;
      -webkit-margin-top: -25%;
    }
    .skewed2-progress {
      padding: 0px 4% !important;
      -ms-padding: 0px 4% !important;
      -moz-padding: 0px 4% !important;
      -webkit-padding: 0px 4% !important;
      margin: 2% 170px;
      -ms-margin: 2% 170px;
      -moz-margin: 2% 170px;
      -webkit-margin: 2% 170px;
    }
  }
  @media only screen and (min-width: 280px) and (min-height: 653px) {
    .skewed2 {
      margin-top: 4%;
      -ms-margin-top: 4%;
      -moz-margin-top: 4%;
      -webkit-margin-top: 4%;
      width: 100%;
      -ms-width: 100%;
      -moz-width: 100%;
      -webkit-width: 100%;
    }
    .main-div {
      height: 120vh;
      -ms-height: 45vh;
      -moz-height: 45vh;
      -webkit-height: 45vh;
      width: 100vw;
      -ms-width: 100vw;
      -moz-width: 100vw;
      -webkit-width: 100vw;
      margin-top: -45%;
      -ms-margin-top: -45%;
      -moz-margin-top: -45%;
      -webkit-margin-top: -45%;
    }
    .skewed2-progress {
      padding: 0px 4% !important;
      -ms-padding: 0px 4% !important;
      -moz-padding: 0px 4% !important;
      -webkit-padding: 0px 4% !important;
      margin: 2% 0px;
      -ms-margin: 2% 0px;
      -moz-margin: 2% 0px;
      -webkit-margin: 2% 0px;
    }
  }