.main-divs,
.background,
.overlay {
  height: 100vh;
  width: 100vw;
  -webkit-height: 150vh;
  -webkit-width: 90vw;
}
.main-solutions{}
.main-portofolio{
    -webkit-height:200vh;
    -webkit-min-height: 150vh;
}
.main-divs1 {
  padding: 3%;
}
#footer {
  margin-top: -50px;
  text-align: center !important;
  width: 100%;
}
.main-div {
  height: 55vh;
  padding: auto 10%;
  width: 100vw;
  margin-top: -15%;
}
img {
  object-fit: cover;
}
#home {
}
.back {
  z-index: -1;
}

video {
  right: 0;
  bottom: 0;
  position: relative;
  z-index: -1;
  width: 100vw;
  padding: 0;
  object-fit: cover;
  height: 100vh;
}
.text-1 {
  z-index: 1;
}

.border-message {
  border-left: 0.5rem solid #ffffff;
}

.black-overlay {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

#message-div {
  background-image: url("../assets/imgs/laptop.jpg");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4) !important;
  z-index: 0;
}

.bigger {
  z-index: 2;
}

#plans,
#solutions,
#contacts,
#projects {
  background-image: url("../assets/imgs/black.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.phone-inbox {
  margin-left: -25%;
  margin-top: 10%;
}

.services-col {
  margin-top: 10%;
}

.all {
  width: 100%;
  height: 100vh;
}

.space-top {
  margin-top: 15%;
}

.space-top-2 {
  margin-top: 10%;
}

.space-top-5 {
  margin-top: 5%;
}
.space-top-1 {
  margin: auto 4%;
}

.font-control {
  font-size: 1.2rem !important;
}

.skewed2 {
  z-index: 1;
  margin-top: 5%;
  padding: 10px;
  transform-origin: top left;
  width: 100%;
  height: 100vh;
}

.skewed2-text {
  width: 100%;
  padding: 0px 60px;
  margin-top: 1%;
}
.progress {
  width: 50% !important;
  margin-left: 2%;
}
.skewed2-progress {
  margin-top: 2%;
  padding: 0px 4% !important;
}
.skewed2-progress-1 {
  display: flex;
  margin-top: 3px;
}
.progress-txt {
  text-align: left !important;
  margin-top: 2%;
  display: flex;
}
.Texto {
  margin-left: 42%;
}
.Texto1 {
  margin-left: 2%;
}
#about-text {
  margin-top: 30%;
}

.projects-menu {
  display: contents;
}

#deeper {
  z-index: -1;
  height: 70vh;
}

#deep {
  z-index: 0;
  height: 80vh;
}

#deeper > img {
  height: -webkit-fill-available;
}

.skewed3 {
  transform: skewX(-190deg);
  margin-left: -9%;
  transform-origin: bottom left;
  margin-bottom: -2%;
  background-color: #39c0e2;
  /* //border: 1px solid red; */
  height: 70vh !important;
  width: 70vw !important;
}

#three-phones {
  transform: skewX(10deg);
  margin-top: 2%;
  height: 60vh;
}
.Identidadeicone {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(115deg)
    brightness(104%) contrast(104%);
  size: 10px;
  font-weight: 600 !important;
  stroke-width: 600 !important;
}
.projects-images {
  height: 350px;
  margin-top: 1%;
  padding-top: 1%;
}
.portofolio {
  margin: auto 15%;
}
#contacts{
  padding: 5px;
}
@font-face {
  font-family: "Gotham Bold";
  src: url("../assets/fonts/GothamBold.otf");
}
/*.btninicial{
  background-color:  #37bfe1 !important;
  text-shadow: 1px 0.5px 1px rgb(26, 25, 25) !important;
}*/
/* //@media only screen and (max-width: 2560px){} */
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .skewed2 {
    margin-top: 4%;
    width: 100%;
  }
  .main-div {
    height: 50vh;
    width: 100vw;
    margin-top: -45%;
  }
  .skewed2-progress {
    padding: 0px 4% !important;
    margin: 2% 170px;
  }
}
@media only screen and (min-width: 570px) and (max-width: 1024px) {
  .skewed2 {
    margin-top: 1%;
    width: 100%;
  }
  .main-div {
    height: 90vh;
    width: 100vw;
    margin-top: -15%;
  }
  .skewed2-progress {
    padding: 0px 4% !important;
    margin: 2% 20%;
  }
}
@media only screen and (max-width: 600px), (min-width: 400) {
  .skewed2 {
    margin-top: -3%;
    width: 100%;
  }
  .main-div {
    height: 80vh;
    width: 100vw;
    margin-top: -45%;
  }
  .skewed2-progress {
    padding: 0px 4% !important;
    margin: 2% 50px;
  }
}
@media only screen and (max-width: 653px), (min-width: 340) {
  .skewed2 {
    width: 100%;
    font-size: 16px !important;
    height: 10px !important;
    -webkit-width: 100%;
    -webkit-font-size: 16px !important;
    -webkit-height: 10px !important;
  }
  .main-div {
    height: 100vh;
    width: 100vw;
    margin-top: -35%;
    -webkit-height: 150vh;
    -webkit-width: 100vw;
    -webkit-margin-top: -35%;
  }
  .skewed2-progress {
    padding: 0px 4% !important;
    margin: 2% 50px;
    -webkit-padding: 0px 4% !important;
    -webkit-margin: 2% 50px;
  }
}
@media screen and (min-color-index: 0) and(-webkit-min-device-pixel-ratio:0) {
  @media (max-width: 667px), (min-width: 375) {
    .main-divs,
    .background,
    .overlay {
      height: 150vh;
      width: 100vw;
    }
  }
}
@media only screen and (min-width: 375)and (max-width: 667px){
    .main-divs,
    .background,
    .overlay {
      height: 100vh;
      width: 100vw;
    }
}
@media only screen and (max-width: 33px) and (min-width: 140) {
    .skewed2 {
      -webkit-width: 100%;
      -webkit-font-size: 16px !important;
      -webkit-height: 10px !important;
    }
    .main-div {
      -webkit-height: 150vh;
      -webkit-width: 100vw;
      -webkit-margin-top: -35%;
    }
    .skewed2-progress {
      -webkit-padding: 0px 4% !important;
      -webkit-margin: 2% 50px;
    }
    .main-solutions{
        -o-height: 300vh;
    }
  }
/* // @media only screen and (max-width: 653px), (min-width: 340){} */ 