.main-divs,
.background,
.overlay {
  -webkit-height: 150vh!important;
  -webkit-width: 150vw;
}
.main-divs1 {
  -webkit-padding: 3%;
  -webkit-height: 150vh!important;
}
#footer {
  -webkit-margin-top: -50px;
  -webkit-text-align: center !important;
  -webkit-width: 100%;
}
.main-div {
  -webkit-height: 55vh;
  -webkit-padding: auto 10%;
  -webkit--webkit-width: 100vw;
  -webkit-margin-top: -15%;
}
img {
  -webkit-object-fit: cover;
}
#home {
}
.back {
    -webkit-z-index: -1;
}

video {
    -webkit-right: 0;
  -webkit-bottom: 0;
  -webkit-position: relative;
  -webkit-z-index: -1;
  -webkit-width: 100vw;
  -webkit-padding: 0;
  -webkit-object-fit: cover;
  -webkit-height: 100vh;
}
.text-1 {
    -webkit-z-index: 1;
  
}
.text-overlay {
    -webkit-margin-top: 20%;
  }

.border-message {
    -webkit-border-left: 0.5rem solid #ffffff;
}

.black-overlay {
    -webkit-background-color: rgba(0, 0, 0, 0.5) !important;
}

.parallax {
  -webkit-height: 100vh;
  -webkit-width: 100vw;
  -webkit-background-color: rgba(0, 0, 0, 0.4) !important;
  -webkit-z-index: 0;
}

.bigger {
    -webkit-z-index: 2;
}

#plans,
#solutions,
#contacts,
#projects {
    -webkit-background-image: url("../assets/imgs/black.jpg");
  -webkit-background-attachment: fixed;
  -webkit-background-position: center;
  -webkit-background-repeat: no-repeat;
  -webkit-background-size: cover;
}

.phone-inbox {
    -webkit-margin-left: -25%;
  -webkit-margin-top: 10%;
}

.services-col {
    -webkit-margin-top: 10%;
}

footer {
  /* background-color: $footerColor; */
  -webkit-width: 99%;
}

#control {
  /* background-color: $mockupBackground; */
  -webkit-overflow: hidden;
  -webkit-z-index: -1;
}
.all {
  -webkit-width: 100%;
  -webkit-height: 100vh;
}

.space-top {
    -webkit-margin-top: 15%;
}

.space-top-2 {
    -webkit-margin-top: 10%;
}

.space-top-5 {
    -webkit-margin-top: 5%;
}
.space-top-1 {
    -webkit-margin: auto 4%;
}

.font-control {
    -webkit-font-size: 1.2rem !important;
}

.skewed {
    -webkit-z-index: 1;

  /*left: 0; */
  /* background: $highlightColor; */
  -webkit-transform: skewY(-6deg);
  -webkit-transform-origin: top left;
  -webkit-width: 100%;
  -webkit-height: 100vh;
}

.skewed2 {
    -webkit-z-index: 1;
  -webkit-margin-top: 5%;
  -webkit-padding: 10px;
  /* // transform: skewY(4deg); */
  -webkit-transform-origin: top left;
  -webkit-width: 100%;
  -webkit-height: 100vh;
  /* // background-color: rgba(10,23,55,0.5) !important;
  // background: #000;
  //  opacity: 0.7; */
}

.skewed2-text {
  -webkit-width: 100%;
  -webkit-padding: 0px 60px;
  -webkit-margin-top: 1%;
}
.progress {
  -webkit-width: 50% !important;
  -webkit-margin-left: 2%;
}
.skewed2-progress {
    -webkit-margin-top: 2%;
  -webkit-padding: 0px 4% !important;
}
.skewed2-progress-1 {
  -webkit-display: flex;
  -webkit-margin-top: 3px;
}
.progress-txt {
  -webkit-text-align: left !important;
  -webkit-margin-top: 2%;
  -webkit-display: flex;
}
.Texto {
  -webkit-margin-left: 42%;
}
.Texto1 {
  -webkit-margin-left: 2%;
}
#about-text {
  -webkit-margin-top: 30%;
}

.projects-menu {
  -webkit-display: contents;
}

#deeper {
  -webkit-z-index: -1;
  -webkit-height: 70vh;
}

#deep {
  -webkit-z-index: 0;
  -webkit-height: 80vh;
}

#deeper,
#deep {
}

#deeper > img {
  -webkit-height: -webkit-fill-available;
}

.skewed3 {
  -webkit-transform: skewX(-190deg);
  -webkit-margin-left: -9%;
  -webkit-transform-origin: bottom left;
  -webkit-margin-bottom: -2%;
  -webkit-background-color: #39c0e2;
  /* //border: 1px solid red; */
  -webkit-height: 80vh !important;
  -webkit-width: 70vw !important;
}

#three-phones {
    -webkit-transform: skewX(10deg);
  -webkit-margin-top: 2%;
  -webkit-height: 60vh;
}
.Identidadeicone {
    -webkit-filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(115deg)
    brightness(104%) contrast(104%);
    -webkit-size: 10px;
  -webkit-font-weight: 600 !important;
  -webkit-stroke-width: 600 !important;
}
.projects-images {
  -webkit-height: 90%;
  -webkit-margin-top: 1%;
  -webkit-padding-top: 1%;
}
.portofolio {
  -webkit-margin: auto 15%;
}
#contacts{
  -webkit-padding: 5px;
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .skewed2 {
        -webkit-margin-top: 4%;
      -webkit-width: 100%;
    }
    .main-div {
        -webkit-height: 50vh;
      -webkit-width: 100vw;
      -webkit-margin-top: -45%;
    }
    .skewed2-progress {
        -webkit-padding: 0px 4% !important;
      -webkit-margin: 2% 170px;
    }
  }
  /* // @media only screen and (min-width: 1024px) and (max-width: 1366px){
  //   .skewed2{
  //     margin-top: 1% ;
  //     width: 100%;
  //   }
  //   .main-div {
  //     height: 40vh;
  //     width: 100vw;
  //     margin-top: -35%;
  //   }
  //   .skewed2-progress {
  //     padding: 0px 4% !important;
  //     margin: 2% 20%;
  //   }
  // } */
  @media only screen and (min-width: 570px) and (max-width: 1024px) {
    .skewed2 {
        -webkit-margin-top: 1%;
      -webkit-width: 100%;
    }
    .main-div {
        -webkit-height: 90vh;
      -webkit-width: 100vw;
      -webkit-margin-top: -15%;
    }
    .skewed2-progress {
        -webkit-padding: 0px 4% !important;
      -webkit-margin: 2% 20%;
    }
  }
  @media only screen and (max-width: 600px), (min-width: 400) {
    .skewed2 {
        -webkit-margin-top: -3%;
      -webkit-width: 100%;
    }
    .main-div {
        -webkit-height: 80vh;
      -webkit-width: 100vw;
      -webkit-margin-top: -45%;
    }
    .skewed2-progress {
        -webkit-padding: 0px 4% !important;
      -webkit-margin: 2% 50px;
    }
  }
  @media only screen and (max-width: 33px) and (min-width: 140) {
    .skewed2 {
      -webkit-width: 100%;
      -webkit-font-size: 16px !important;
      -webkit-height: 10px !important;
    }
    .main-div {
      -webkit-height: 150vh;
      -webkit-width: 100vw;
      -webkit-margin-top: -35%;
    }
    .skewed2-progress {
      -webkit-padding: 0px 4% !important;
      -webkit-margin: 2% 50px;
    }
    .main-solutions{
        height: 300vh;
    }
  }