/* Extra small devices (portrait phones, less than 576px)
  No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px) {
  #solutions,
  #plans,
  #contacts,
  #control,
  #projects {
    height: -webkit-fill-available !important;
    -ms-height: -webkit-fill-available !important;
    -moz-height: -webkit-fill-available !important;
    -webkit-height: -webkit-fill-available !important;
  }

  .skewed3,
  .skewed {
    display: none;
    -ms-display: none;
    -moz-display: none;
    -webkit-display: none;
  }

  #deeper {
    height: 70vh !important;
    -ms-height: 70vh !important;
    -moz-height: 70vh !important;
    -webkit-height: 70vh !important;
  }

  .skewed2,
  .skewed2-text {
    transform: none !important;
    -ms-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
  }

  .skewed2 {
    padding-top: 4%;
    -ms-padding-top: 4%;
    -moz-padding-top: 4%;
    -webkit-padding-top: 4%;
    
    padding-left: 8%;
    -ms-padding-left: 8%;
    -moz-padding-left: 8%;
    -webkit-padding-left: 8%;
    
    padding-right: 8%;
    -ms-padding-right: 8%;
    -moz-padding-right: 8%;
    -webkit-padding-right: 8%;
    
    height: 33vh !important;
    -ms-height: 33vh !important;
    -moz-height: 33vh !important;
    -webkit-height: 33vh !important;
  }

  .all {
    height: auto !important;
    -ms-height: auto !important;
    -moz-height: auto !important;
    -webkit-height: auto !important;
  }

  .plans-container {
    margin-top: 0.5rem;
    -ms-margin-top: 0.5rem;
    -moz-margin-top: 0.5rem;
    -webkit-margin-top: 0.5rem;
  }

  .solutions-names {
    text-align: center !important;
    -ms-text-align: center !important;
    -moz-text-align: center !important;
    -webkit-text-align: center !important;
  }

  .skewed2-text {
    margin-bottom: 2%;
    -ms-margin-bottom: 2%;
    -moz-margin-bottom: 2%;
    -webkit-margin-bottom: 2%;
    
    font-size: 0.8rem;
    -ms-font-size: 0.8rem;
    -moz-font-size: 0.8rem;
    -webkit-font-size: 0.8rem;
  }

  #about {
    overflow: initial !important;
    -ms-overflow: initial !important;
    -moz-overflow: initial !important;
    -webkit-overflow: initial !important;
  }
  .skewed2 .row {
    margin-left: 0 !important;
    -ms-margin-left: 0 !important;
    -moz-margin-left: 0 !important;
    -webkit-margin-left: 0 !important;
  }

  .projects-menu {
    display: block !important;
    -ms-display: block !important;
    -moz-display: block !important;
    -webkit-display: block !important;
    
    margin: auto;
    -ms-margin: auto;
    -moz-margin: auto;
    -webkit-margin: auto;
  }

  #plans {
    padding: 5%;
    -ms-padding: 5%;
    -moz-padding: 5%;
    -webkit-padding: 5%;
  }

  .phone-inbox {
    display: none;
    -ms-display: none;
    -moz-display: none;
    -webkit-display: none;
  }
  .mobile-padding {
    padding: 10%;
    -ms-padding: 10%;
    -moz-padding: 10%;
    -webkit-padding: 10%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #solutions,
  #plans,
  #contacts,
  #control,
  #projects {
    height: -webkit-fill-available !important;
    -ms-height: -webkit-fill-available !important;
    -moz-height: -webkit-fill-available !important;
    -webkit-height: -webkit-fill-available !important;
  }

  .skewed3,
  .skewed {
    display: none;
    -ms-display: none;
    -moz-display: none;
    -webkit-display: none;
  }

  #deeper {
    height: 70vh !important;
    -ms-height: 70vh !important;
    -moz-height: 70vh !important;
    -webkit-height: 70vh !important;
  }

  .skewed2,
  .skewed2-text {
    transform: none !important;
    -ms-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
  }

  .skewed2 {
    height: 35vh !important;
    -ms-height: 35vh !important;
    -moz-height: 35vh !important;
    -webkit-height: 35vh !important;
  }

  .all {
    height: auto !important;
    -ms-height: auto !important;
    -moz-height: auto !important;
    -webkit-height: auto !important;
  }

  .plans-container {
    margin-top: 0.5rem;
    -ms-margin-top: 0.5rem;
    -moz-margin-top: 0.5rem;
    -webkit-margin-top: 0.5rem;
  }

  .solutions-names {
    text-align: center !important;
    -ms-text-align: center !important;
    -moz-text-align: center !important;
    -webkit-text-align: center !important;
  }

  .phone-inbox {
    display: none;
    -ms-display: none;
    -moz-display: none;
    -webkit-display: none;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #solutions,
  #plans,
  #contacts,
  #control,
  #projects {
    height: -webkit-fill-available !important;
    -ms-height: -webkit-fill-available !important;
    -moz-height: -webkit-fill-available !important;
    -webkit-height: -webkit-fill-available !important;
  }

  .skewed3,
  .skewed {
    display: none;
    -ms-display: none;
    -moz-display: none;
    -webkit-display: none;
  }

  #deeper {
    height: 70vh !important;
    -ms-height: 70vh !important;
    -moz-height: 70vh !important;
    -webkit-height: 70vh !important;
  }

  .skewed2,
  .skewed2-text {
    transform: none !important;
    -ms-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
  }

  .skewed2 {
    height: 35vh !important;
    -ms-height: 35vh !important;
    -moz-height: 35vh !important;
    -webkit-height: 35vh !important;
  }

  .all {
    height: auto !important;
    -ms-height: auto !important;
    -moz-height: auto !important;
    -webkit-height: auto !important;
  }

  .plans-container {
    margin-top: 0.5rem;
    -ms-margin-top: 0.5rem;
    -moz-margin-top: 0.5rem;
    -webkit-margin-top: 0.5rem;
  }

  .solutions-names {
    text-align: center !important;
    -ms-text-align: center !important;
    -moz-text-align: center !important;
    -webkit-text-align: center !important;
  }

  #plans {
    padding: 5%;
    -ms-padding: 5%;
    -moz-padding: 5%;
    -webkit-padding: 5%;
  }

  .phone-inbox {
    display: none;
    -ms-display: none;
    -moz-display: none;
    -webkit-display: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .skewed3 {
    margin-left: -11% !important;
    -ms--left: -11% !important;
    -moz-margin-left: -11% !important;
    -webkit-margin-left: -11% !important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
